@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  select {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  button {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  a {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }

  textarea {
    @apply focus:outline-0 focus:outline-none focus:ring-0 focus-visible:outline-0 focus-visible:outline-none focus-visible:ring-0;
  }
}

@layer utilities {
  .shadow-around {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
}

.custom-scrollbar {
  overflow-y: auto !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px !important;
  display: none;
}

.custom-scrollbar:hover::-webkit-scrollbar {
  width: 2px !important;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f5f6fa !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #006fac !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  cursor: pointer;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  width: 15px !important;
  height: 15px !important;
}

/* .swiper-button-next::after {
  content: "➜" !important;
  font-size: 20px !important;
}

.swiper-button-prev::after {
  content: "➜" !important;
  font-size: 20px !important;
  transform: scaleX(-1);
}

.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  width: 30px !important;
  height: 30px !important;
  border-radius: 25px;
  color: black !important;
  box-shadow: 0px 0px 20px 5px #00000024
}

.swiper-button-next {
  position: absolute !important;
  top: 45% !important;
  right: -20px !important;
} */

.swiper-button-disabled {
  display: none !important;
}

.PhoneInput > input {
  background-color: #f5f6fa !important;
  display: flex;
  z-index: 0 !important;
}

.white-input > input {
  background-color: #ffffff !important;
  display: flex;
  z-index: 0 !important;
}

.gray-input > input {
  background-color: #F7F7F7 !important;
  display: flex;
  z-index: 0 !important;
}

.sticky-div {
  position: sticky;
}

.absolute-position {
  position: absolute !important;
  top: auto !important;
}

@media only screen and (max-width: 600px) {
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 7.5px !important;
    height: 7.5px !important;
  }
}

.testimonial .swiper-pagination-bullet{
  background: #999999 !important;
  width: 12px !important;
  height: 12px !important;
}
.testimonial .swiper-pagination-bullet-active{
  background: #006fac !important;
}

.swiper-pagination{
  bottom: 0 !important;
}